@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #eeeeee;
    height: 100%;
    width: 100%;
    line-height: 2;
}

table {
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    max-width: 1800px;
    width: 80%;
    margin: 0 auto;
    position: relative;
    color: #80807e;
    z-index: 0;
    margin-top: 2%;
    margin-left: 12%;
}

tr {
    border: none;
}

thead {
    color: #ffffff;
    background-color: #a8d381;
    height: 70px;
    text-align: left;
    width: 100%;
}

td,
th {
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 1.3rem;
}

ul {
    margin-top: 5%;
}

ul li:hover a {
    padding-left: 50px;
}

section {
    transition: all .5s;
}

button {
    border: #ffffff;
    background-color: #ffffff;
}

form button {
    background-color: transparent;
}

label #cancel {
    left: -200px;
    position: absolute;
    z-index: 1;
    padding: 4px;
    font-size: 26px;
}

label #hamburger {
    position: absolute;
    cursor: pointer;
    background: #c0f292;
    border-radius: 3px;
    z-index: 1;
    left: 16px;
    top: 25px;
    font-size: 30px;
    color: #c0f292;
    background-color: #ffffff;
    padding: 4px 9px;
    transition: all .5s ease;
}

.header {
    width: 30%;
    margin: 50px auto 0px;
    min-width: 300px;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}

.form {
    width: 30%;
    min-width: 300px;
    margin: 0px auto;
    padding: 10px 20px;
    background: white;
    border-radius: 0px 0px 10px 10px;
    text-align: center;
    position: relative;
}

.label {
    display: block;
    text-align: left;
    margin: 15px 0 0 17.5px;
}

.login-title {
    font-size: 45px;
}

.login-btn {
    font-size: 15px;
    padding: initial;
    padding: .5rem;
    margin: 1.5rem auto 0;
    width: 10rem;
    color: white;
    background-color: #bdd8bf;
    border: none;
    height: 45px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.login-btn:hover {
    background-color: #5f9ea0a1;
}

.error {
    width: 92%;
    color: #a94442;
    font-size: .85rem;
    position: absolute;
    text-align: right;
    bottom: 4.25rem;
    right: 2rem;
}

.login-name {
    color: #80807e;
    ;
    margin: 0px 10px 0px 0px;
    font-weight: bold;
    font-size: 20px;
}

.div-container {
    display: flex;
    flex-direction: row;
}

.left-menu {
    background-color: #ffffff;
    width: 20vh;
    height: 200vh;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 3px 3px;
}

.navbar {
    height: 100px;
    padding-right: 21%;
    width: 112.5%;
}

.project-page-title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 34px;
    letter-spacing: 2px;
    color: #a8d381;
    margin-left: 12.3%;
    text-decoration: none;
}

.whole-search {
    margin-right: 2%;
}

.project-name-spacing {
    border-top-left-radius: 15px;
}

.round-border {
    border-top-right-radius: 15px;
}

.grey-border {
    border-bottom: solid 1px #80807e;
}

.progress-numbers {
    margin-left: -55px;
    margin-bottom: -18.5px;
    margin-right: 25px;
}

.round {
    background-color: #eeeeee;
    border-radius: 13px;
    height: 11.5px;
    width: 140px;
    margin-left: 47%;
    margin-top: -7%;
}

.far,
.fas {
    color: #c0f292;
    background-color: #ffffff;
    font-size: 26px;
}

.completion-spacing {
    padding-left: 80px;
}

.project-name-spacing {
    padding-left: 10px;
}

.td-spacing {
    padding-left: 10px;
}

.left-menu {
    position: fixed;
    left: -170px;
    width: 250px;
    height: 100%;
    background: #ffffff;
    transition: all .5s ease;
    list-style: none;
    text-decoration: none;
    margin-top: -1%;
}

.left-menu ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 19px;
    color: #80807e;
    box-sizing: border-box;
    padding-left: 40px;
    transition: .4s;
}

.left-menu ul a i {
    margin-right: 16px;
}

.left-menu-titles {
    margin-top: -75px;
}

.hover-info {
    display: none;
    width: 180px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    font-size: 15px;
    padding: 8px;
    border-radius: 12px;
    margin-left: 11.5%;
    margin-top: 0.5%;
    -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.62);
    box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.62);
}

.round:hover+.hover-info {
    display: block;
    position: absolute;
}

.left-menu-search-icon {
    color: #ffffff;
}

.fa-th-large,
.fa-folder,
.fa-history,
.fa-plus-circle {
    font-size: 30px;
    margin-left: 155px;
}

.fa-sign-out-alt {
    background-color: #eeeeee;
    color: #a8d381;
}

#check {
    display: none;
}

#check:checked~.left-menu {
    left: 0;
}

#check:checked~.left-menu ul {
    margin-top: 22%;
}

#check:checked~label #hamburger {
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked~label #cancel {
    top: 20px;
    left: 205px;
    transition: .5s ease;
}

#check:checked~section {
    margin-left: 250px;
}

#check:checked~.left-menu .left-menu-titles {
    margin-left: 50px;
    transition: .5s ease;
    margin-top: -63px;
}

#check:checked~.left-menu .left-menu-icon {
    margin-left: -3px;
    transition: .5s ease;
}

#check:checked~.left-menu #search-left-menu {
    margin-left: 14%;
}

#search-left-menu {
    margin-top: 35%;
    margin-left: -10%;
    width: 185px;
    height: 40px;
    background-color: #eeeeee;
    font-style: italic;
    font-weight: 500;
}

#search,
#search-left-menu {
    width: 170px;
    border-radius: 50px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    border: #ececec;
}

#search {
    font-size: 1.2rem;
    height: 37px;
}

#search-icon {
    background-color: transparent;
    margin-left: -32px;
    font-size: 22px;
}

#create-button {
    background-color: transparent;
}

#plus-button {
    background-color: transparent;
    font-size: 60px;
    position: absolute;
    right: -25px;
}

.header-login {
    width: 30%;
    margin: 10% auto 0px;
    min-width: 300px;
    color: #ced2d1;
    background: #eeeeee;
    text-align: center;
    padding: 20px;
    font-family: 'Oswald';
    font-weight: bold;
}

.form-login {
    width: 30%;
    min-width: 300px;
    margin: 0px auto;
    padding: 10px 20px;
    text-align: center;
    position: relative;
    color: #ced2d1;
    font-family: 'Oswald';
    font-weight: bold;
}


/* .input-login {
    width: 30%;
    margin: 50px auto 0px;
    min-width: 300px;
    color: white;
    background: #5F9EA0;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
} */

input[type="text"],
input[type="password"] {
    width: 400px;
    height: 40px;
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    margin: 15px 0px 15px 0px;
    color: #554531;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.error-login {
    color: #fb4755;
    font-size: .85rem;
    text-align: center;
    bottom: 4.25rem;
    right: 2rem;
}

@-moz-document url-prefix() {
    table {
        overflow: hidden;
    }
}
