* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	/* font-size: 120%; */
	font-family: Arial, Helvetica, sans-serif;
	background-color: #eeeeee;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	min-width: 300px;
	color: white;
	background: #5F9EA0;
	text-align: center;
	border: 1px solid #B0C4DE;
	border-bottom: none;
	border-radius: 10px 10px 0px 0px;
	padding: 20px;
}

.form {
	width: 30%;
	min-width: 300px;
	margin: 0px auto;
	padding: 10px 20px;
	border: 1px solid #B0C4DE;
	background: white;
	border-radius: 0px 0px 10px 10px;
	text-align: center;
	position: relative;
}

label {
	display: block;
	text-align: left;
	margin: 15px 0 0 17.5px;
}

input {
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid gray;
}

.login-btn {
	font-size: 15px;
	padding: initial;
	padding: .5rem;
	margin: 1.5rem auto 0;
	width: 10rem;
	color: white;
	background-color: #5F9EA0;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: bold;
}

.login-btn:hover{
	background-color: #5f9ea0a1;
}

.error {
	width: 92%;
	color: #a94442;
	font-size: .85rem;
	position: absolute;
	text-align: right;
	bottom: 4.25rem;
	right: 2rem;
}
.login-name {
	color: white;
	margin: 0px 10px 0px 0px;
}
