* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	/* font-size: 120%; */
	font-family: Arial, Helvetica, 'Oswald', sans-serif;
	background-color: #eeeeee;
}

.header {
	width: 30%;
	margin: 50px auto 0px;
	min-width: 300px;
	color: #ced2d1;
	background: #eeeeee;
	text-align: center;
	padding: 20px;
        font-family: 'Oswald';
        font-weight: bold;
}

.form {
	width: 30%;
	min-width: 300px;
	margin: 0px auto;
	padding: 10px 20px;
	text-align: center;
	position: relative;
         color: #ced2d1;
        font-family: 'Oswald';
        font-weight: bold;
}

label {
	display: block;
	text-align: left;
	margin: 15px 0 0 17.5px;
}

input {
	width: 93%;
	padding: 5px 10px;
	font-size: 16px;
	border-radius: 15px;
	border: none;
        text-align: center;
        font-weight: bold;
}

.login-btn {
	font-size: 15px;
	padding: initial;
	padding: .5rem;
	margin: 1.5rem auto 0;
	width: 10rem;
	color: white;
	background-color: #bdd8bf;
	border: none;
	border-radius: 15px;
	cursor: pointer;
	font-weight: bold;
}

.login-btn:hover{
	background-color: #5f9ea0a1;
}

.error {
	color: #fb4755;
	font-size: .85rem;
	text-align: center;
	bottom: 4.25rem;
	right: 2rem;
}
.login-name {
	color: white;
	margin: 0px 10px 0px 0px;
}
::placeholder {
        color: #ced2d1;
}
